# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode/*
!.vscode/extensions.json

# Local env files
.env
.env.*
!.env.example

# Nix, direnv
shell.nix
.envrc
.direnv

# Tests
test-results
/playwright-report/
/blob-report/
/playwright/.cache/

# Code Coverage
**/coverage/