name: lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "23"
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        uses: reviewdog/action-eslint@v1
        with:
          reporter: github-check
